%body#collage

.navbar.navbar-inverse.navbar-fixed-top{role: "navigation"}
	.container
		.navbar-header
			%button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
				%span.sr-only Toggle navigation
				%span.icon-bar
				%span.icon-bar
				%span.icon-bar
		.navbar-collapse.collapse
			= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
				.row.right
					.col-sm-5
					.col-sm-3.white
						= f.label :email
						%br/
						= f.email_field :email
					.col-sm-3.white.260
						= f.label :password
						%br/
						= f.password_field :password
					- if devise_mapping.rememberable?
						.col-sm-1.white
							= f.submit "Sign in", :class => "btn btn-info"




								



.all
	.jumbotron
		.container.center
			%h1#header-main Art Genius
			.container.spacer
				%p An Art History lesson whenever you want
				.row.spacer
					.col-sm-5
					.col-sm-2
						%btn.btn-outline-inverse.btn-lg{role: "button"} Sign up!
					.col-sm-5
		

