
-# %p#notice= notice
-# %h3= @image.title
-# %p= @image.user.email
-# %p= @image.comments.length
:javascript
	var comments = #{@image.comments.to_json};

.navbar.navbar-inverse.navbar-fixed-top#blue-nav{role: "navigation"}
	.container
		.navbar-header
			%button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
				%span.sr-only Toggle navigation
				%span.icon-bar
				%span.icon-bar
				%span.icon-bar
		.navbar-collapse.collapse
			%a.navbar-brand{:href => root_url} Art Genius
			.navbar-right
				.a= link_to "sign out", destroy_user_session_path, method: :delete, :class => "btn btn-info white"
.container
	.row.spacer
		.col-sm-12
			%h4= @image.title
			%h5 Artist: #{@image.artist}
			%h5 Year: #{@image.year}
			
	.row.bottom-spacer
		.col-sm-8
			#panel
				%img#picture{:src => @image.image}
		.col-sm-4.pad-left
			#comment.row
				%button.btn.btn-info{:type=>"button", :onclick => "javascript:toggleMode()"}Annotate

				%p Last Author: #{@image.user.email}
				#side
			.row
				
				%h4 Description: 
				%p #{@image.description}
				
