:javascript 
	var comments = #{@image.comments.to_json}
	$(document).ready(function(){
		var image = document.getElementById("picture");
		var height = image.height
		var comment = document.getElementById("comment");
		comment.height = height/2 + "px";
	})





%p#notice= notice
%h3= @image.title
%p= @image.user.email
%p= @image.comments.length




.navbar.navbar-inverse.navbar-fixed-top#blue-nav{role: "navigation"}
	.container
		.navbar-header
			%button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
				%span.sr-only Toggle navigation
				%span.icon-bar
				%span.icon-bar
				%span.icon-bar
			%a.navbar-brand{href: "#"} Art Genius
		.navbar-collapse.collapse
			.navbar-right
				.glyphicon.glyphicon-star Star
.container
	.row.spacer-mini
		%h3= @image.title
		%p= @image.user.email
	.row.bottom-spacer
		.col-sm-8
			%button{:type=>"button", :onclick => "javascript:toggleMode()"}Toggle
			#panel
				%img#picture{:src => @image.image}
		.col-sm-4.pad-left
			#comment.row
				#side
			.row
				%h4 Description:
				%h4 Artist:
				%h4 Year:
